<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <h1>Delete Car</h1>
    <form action="/cars/delete" method="post">
      <label for="_id">Car ID</label>
      <input name="_id" id="_id" type="text" required minlength="2" />

      <button type="submit">Submit</button>
    </form>
    <a href="/cars">Go Back</a>
  </body>
</html>
