<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <h1>Create Car</h1>
    <form action="/cars/new" method="post">
      <label for="name">Car Name</label>
      <input name="name" id="name" type="text" required minlength="2" />
        
      <label for="year">Year</label>
      <input name="year" id="year" type="number" />

        <label for="engineType">Engine Type</label>
      <input name="engineType" id="engineType" type="text" />

      <label for="enginePower">Engine Power (hp)</label>
      <input name="enginePower" id="enginePower" type="text" />

      <label for="weight">Weight in KG</label>
      <input name="weight" id="weight" type="number" />

      <label for="dragCoeff">dragCoeff</label>
      <input name="dragCoeff" id="dragCoeff" type="text" />



      <button type="submit">Submit</button>
    </form>
    <a href="/cars">Go Back</a>
  </body>
</html>
